body {
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    margin: 0;
}

/* header {
    text-align: center;
    grid-area: header;

} */

nav ul {
    display: flex;

}

nav li {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
    /* border: 1px solid red; */
    background: black;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;

}

.square {
    border: 1px solid black;
    background-color: white;
    width: 15px;
    height: 15px;
    display: inline-block;

}

.green {
    background-color: lightgreen;
}

 .harm {
     background-color: red;
 }
 
 .usedLuck {
     background-color: black;
 }

 .experience {
     background-color: yellow;
 }

.grid-container {
    position: relative;
    top: 5em;
    border: 1px solid darkblue;
    margin: 10px 10px 10px;
    padding: 10px;
    text-align: center;
    /* grid layout */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 100px 300px;  */
    grid-template-areas: 
        /* 'header header header' */
        'harm luck experience'
        'ratings basic basic'
        'dice abilities inventory'
        'log log log';
    grid-gap: 10px;
    background-color: lightskyblue;
}

section {
    border: 1px solid blue;
    background: lightgray;
}

/* grid stuff */

.harm-section {
    grid-area: harm;
}

.luck-section {
    grid-area: luck;
}

.experience-section {
    grid-area: experience;
}

.ratings-section {
    grid-area: ratings;
}

.basic-move-section {
    grid-area: basic;
    /* width: 66%;  */
}

.basic-move-container {
    /* height: 100%; */
    min-height: 0;
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
    /* height: 100%; */

    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 1fr min-content; */
    /* grid-gap: 10px;
    padding: 15px;
    grid-template-columns: 1fr 1fr; */
}

.basic-move-buttons {
    /* grid-area: basic-buttons; */
    width: 50%;
    /* flex: .5; */
}

.basic-move-info-section {
    width: 50%;
    /* flex: 1; */
}

/* .basic-move-section > button {
    width: 200px;
    padding: 10px;

} */

.dice-section {
    grid-area: dice;
}

.info-section {
    grid-area: info;
}

.abilities-section {
    grid-area: abilities;
}

.log-section {
    grid-area: log;
}

.inventory-section {
    grid-area: inventory;
}

.editable-text {
    /* display: inline; */

}


/* Making the event log text */

.event-log {
    color: gray;
}

/* Turning off bullets in event log */

#event-log {
    list-style-type: none;
    text-align: center;
}

/* Still not centered... */

.bold {
    font-weight: bold;
}

.hide {
    display: none;
}

.event-log-btn {
    border: solid 1px black;
    padding: 10px;
    background-color: #D3D3D3;
    color: black;
    user-select: none;
}

.event-log-btn:focus,
.event-log-btn:active {
    background-color: black;
    color: white;
}